<div x-show="activeView === 'links'">
    <div class="advanced-card">
        <div class="advanced-card-header" style="cursor: default;"><div class="advanced-card-title"><i class="fas fa-link advanced-card-icon"></i><span>لینک اشتراک</span></div></div>
        <div class="advanced-card-content">
            <div class="config-link">
                <div class="config-link-name">لینک اشتراک هوشمند</div>
                <div class="config-link-buttons">
                    <button class="config-link-copy-icon" @click.stop="copyToClipboard(user.subscriptionUrl)" title="کپی"><i class="fas fa-copy"></i></button>
                    <button class="config-link-qr-btn" @click.stop="openQr(user.subscriptionUrl, 'لینک اشتراک')">QR کد</button>
                </div>
            </div>
        </div>
    </div>
</div>