<aside class="sidebar">
    <div id="sidebar-toggle" class="sidebar-header">
        <span class="logo-text">پنل شما</span>
        <i class="ri-arrow-right-s-line toggle-arrow"></i>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <!-- لینک‌ها به روت‌های کامل و جدید اشاره می‌کنند -->
            <li><a href="{{ url_for('main.user_dashboard', uuid=user.uuid) }}" class="{% if request.endpoint == 'main.user_dashboard_page' %}active{% endif %}"><i class="ri-time-line nav-icon"></i><span class="nav-text">داشبورد</span></a></li>
            <li><a href="{{ url_for('main.subscription_links_page', uuid=user.uuid) }}" class="{% if request.endpoint == 'main.subscription_links_page' %}active{% endif %}"><i class="ri-links-line nav-icon"></i><span class="nav-text">لینک‌های اتصال</span></a></li>
            <li><a href="{{ url_for('main.usage_chart_page', uuid=user.uuid) }}" class="{% if request.endpoint == 'main.usage_chart_page' %}active{% endif %}"><i class="ri-bar-chart-fill nav-icon"></i><span class="nav-text">نمودار مصرف</span></a></li>
            <li><a href="{{ url_for('main.buy_service_page', uuid=user.uuid) }}" class="{% if request.endpoint == 'main.buy_service_page' %}active{% endif %}"><i class="ri-shopping-cart-line nav-icon"></i><span class="nav-text">خرید سرویس</span></a></li>
            <li><a href="{{ url_for('main.tutorials_page', uuid=user.uuid) }}" class="{% if request.endpoint == 'main.tutorials_page' %}active{% endif %}"><i class="ri-lightbulb-line nav-icon"></i><span class="nav-text">آموزش و نرم‌افزارها</span></a></li>
        </ul>
    </nav>
    <div class="logout">
        <nav><ul><li><a href="#"><i class="ri-logout-box-r-line nav-icon"></i><span class="nav-text">خروج</span></a></li></ul></nav>
    </div>
</aside>
