[Unit]
Description=Hiddify Telegram Bot Service
After=network.target

[Service]
User=root 
Group=root

WorkingDirectory=/opt/custom_hiddify_bot

ExecStart=/opt/custom_hiddify_bot/custom_venv/bin/python main.py

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
